
<div class="row">
    <div class="col-sm-4">
        <div class="card mb-1">    
            <div class="card-body">
                    Heros {{diagnostic}}
                    <h1>{{box.value}}  the typedValue {{typedValue}}</h1>                                                                                       
                    <input #box type="text" class="form-control mb-3" placeholder="domain" (keyup)="0"/>

                    <!--
                        Two-way data binding with ngModel
                        Template driven validation
                    -->
                    <form #loginForm1="ngForm" (ngSubmit)="login()">
                        <h3 class="card-title">I connect</h3>
    
                        <input type="text" [(ngModel)]="courtier.id" name="courtier_id1" required #courtierid1="ngModel" class="form-control mb-3" placeholder="id"/>
                        <div [hidden]="courtierid1.valid || courtierid1.pristine" class="alert alert-danger">Name is required</div>
                        
                        <input type="text" [(ngModel)]="courtier.userid" name="user_id1" required minlength="5" appForbiddenName="bob" #iduser1="ngModel" class="form-control mb-3" placeholder="userid"/>

                        <div *ngIf="iduser1.invalid && (iduser1.dirty || iduser1.touched)" class="alert alert-danger">
                            
                            <div *ngIf="iduser1.errors.required">
                                Name is required.
                            </div>
                            <div *ngIf="iduser1.errors.minlength">
                                Name must be at least 4 characters long.
                            </div>
                            <div *ngIf="iduser1.errors.forbiddenName">
                                Name cannot be Bob.
                            </div>
                        </div>
                               
                        
                    </form>
            </div>
        </div>            
    </div>    
    <div class="col-sm-6">
        <div class="card mb-1">
            <div class="card-body">
                <!--Two-way data binding with ngModel-->
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <h3 class="card-title">I connect</h3>

                    <input type="text" [(ngModel)]="courtier.id" name="courtier_id" required #courtierid="ngModel" class="form-control mb-3" placeholder="id"/>
                    <div [hidden]="courtierid.valid || courtierid.pristine" class="alert alert-danger">Name is required</div>

    
                    <button type="button" [disabled]="!loginForm.form.valid" class="btn btn-success" (click)="loginForm.reset()">Reset</button>
                    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>            
    </div>
</div>    


